<form #ngForm="ngForm" (ngSubmit)="inserirCronograma(ngForm)">
    <div class="sm:mb-8 sm:mt-2 mt-2">

        <div class="flex flex-row sm:flex-row  justify-content-center items-center align-items-center">
            <div class="flex flex-grow sm:w-2/4 w-full">
                <div class="relative flex-1 sm:ml-0">
                    <label for="cronogramaTerminal"
                        class="block text-sm font-medium text-gray-900 dark:text-white sm:text-base">Criar
                        cronograma concorrente
                        <div class="tooltip ml-4"><svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" width="24" height="24" fill="none" viewBox="0 0 24 24">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                            </svg>
                          <span class="tooltiptext">Ao clicar em gerar cronograma, será gerado uma listagem de serviços para o mês selecionado.</span>
                        </div>
                      </label>
                </div>
            </div>
            <div class="flex-none pr-2 sm:w-2/4 w-36">
                <select
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                    name="mesesConc" [(ngModel)]="cronograma.mes" required>
                    <option></option>
                    <option *ngFor="let meses of meses" [ngValue]="meses.valor">
                        {{ meses.texto }}
                    </option>
                </select>
            </div>
            <div class="flex w-1/4 h-10 pr-2">
                <button id="btn-salvar"
                    class="btn font-semibold shadow-sm bg-gradient-to-b from-light-light-blue to-light-dark-blue text-light-text text-sm rounded-lg focus:ring-light-dark-blue focus:border-light-dark-blue block w-full p-2.5 dark:bg-gradient-to-b dark:from-dark-light-blue dark:to-dark-dark-blue dark:text-blue-100 dark:focus:ring-dark-dark-blue dark:focus:border-dark-dark-blue dark:shadow-sm-light"
                    type="submit">
                    Gerar</button>
            </div>
        </div>
    </div>
</form>
