<div class="p-4 sm:ml-64">
    <div class="p-4 border-0 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
        <div class="container mx-auto">
            <form>
                <div class="sm:mb-8 sm:mt-2 mb-8 mt-2 flex justify-between items-center space-x-10">
                    <div class="text-gray-900 dark:text-blue-100 flex items-center">
                        <h3 class="sm:text-3xl text-2xl font-poppins text-left font-bold">
                            Listagem de Setores
                        </h3>
                        <a class="flex items-center cursor-pointer filtro pl-4" (click)="mostrarListagemDeSetores()">
                            <i>
                                <svg [ngClass]="{'rotate-180': mostrarSetores}"
                                    class="w-5 h-5 transform transition-transform duration-200" aria-hidden="true"
                                    fill="none" viewBox="0 0 10 6">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m1 1 4 4 4-4" />
                                </svg>
                            </i>
                        </a>
                    </div>
                </div>

                <div class="justify-between" *ngIf="this.mostrarSetores">
                    <!--FILTRO-->
                    <div class="flex justify-end">
                        <a class="flex items-center cursor-pointer filtro p-2" (click)="mostrarFiltros()">
                            <label
                                class="mx-2 font-medium text-gray-800 dark:text-blue-100 cursor-pointer">Filtro</label>
                            <i>
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" width="24"
                                    height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                                        d="M18.796 4H5.204a1 1 0 0 0-.753 1.659l5.302 6.058a1 1 0 0 1 .247.659v4.874a.5.5 0 0 0 .2.4l3 2.25a.5.5 0 0 0 .8-.4v-7.124a1 1 0 0 1 .247-.659l5.302-6.059c.566-.646.106-1.658-.753-1.658Z" />
                                </svg>
                            </i>
                        </a>
                    </div>

                    <div class="justify-between" *ngIf="this.mostrar">
                        <div class="flex flex-col sm:flex-row justify-between">
                            <!--SETOR-->
                            <div class="mb-5 relative flex-1 pr-2">
                                <label for="setor"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Setor:
                                </label>
                                <input
                                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                                    name="setor" [(ngModel)]="seletor.nome" />
                            </div>

                            <!-- SIGLA -->
                            <div class="mb-5 relative flex-1 pr-2">
                                <label for="sigla"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Sigla:
                                </label>
                                <input
                                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                                    name="sigla" [(ngModel)]="seletor.sigla" />
                            </div>
                        </div>

                        <!--ATIVIDADE-->
                        <div class="flex flex-col sm:flex-row">
                            <div class="mb-5 relative flex-1 pr-2">
                                <label for="atividade"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Atividade:
                                </label>
                                <select
                                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                                    name="atividade" [ngModelOptions]="{ standalone: true }"
                                    [(ngModel)]="seletor.atividade" required>
                                    <option [ngValue]="{}"></option>
                                    <option *ngFor="let atividade of atividades" [ngValue]="atividade">
                                        {{ atividade.descricao }}
                                    </option>
                                </select>
                            </div>

                            <!--BOTÃO FILTRAR-->
                            <div class="mb-5 relative flex-1  flex flex-col justify-end pr-2">
                                <button id="btn-filtrar"
                                    class="btn font-semibold shadow-sm bg-gradient-to-b from-light-light-blue to-light-dark-blue text-light-text text-sm rounded-lg focus:ring-light-dark-blue focus:border-light-dark-blue block w-full p-2.5 dark:bg-gradient-to-b dark:from-dark-light-blue dark:to-dark-dark-blue dark:text-blue-100 dark:focus:ring-dark-dark-blue dark:focus:border-dark-dark-blue dark:shadow-sm-light"
                                    (click)="filtrarSetor(); mostrarFiltros()" type="submit">
                                    Filtrar
                                </button>
                            </div>
                        </div>
                    </div>

                    <!--TABELA-->
                    <div class="mb-5 justify-center">
                        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                <thead class="text-xs text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                    <tr>
                                        <th scope="col" class="px-8 py-3">
                                            <div class="flex items-center">
                                                SETOR
                                                <!-- <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true"
                                                        fill="currentColor" viewBox="0 0 24 24">
                                                        <path
                                                            d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z" />
                                                    </svg></a> -->
                                            </div>
                                        </th>
                                        <th scope="col" class="px-8 py-3">
                                            <div class="flex items-center">
                                                SIGLA
                                                <!-- <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true"
                                                        fill="currentColor" viewBox="0 0 24 24">
                                                        <path
                                                            d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z" />
                                                    </svg></a> -->
                                            </div>
                                        </th>

                                        <th scope="col" class="px-8 py-3">
                                            <div class="flex items-center">
                                                ATIVIDADES
                                                <!-- <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true"
                                                        fill="currentColor" viewBox="0 0 24 24">
                                                        <path
                                                            d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z" />
                                                    </svg></a> -->
                                            </div>
                                        </th>

                                        <th scope="col" class="px-8 py-3">
                                            <div class="flex justify-center items-center">EDIÇÃO</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let setor of setores"
                                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                        <td class="px-8 py-4">{{ setor.nome }}</td>
                                        <td class="px-8 py-4">
                                            {{ setor.sigla }}
                                        </td>
                                        <td class="px-8 py-4">
                                            <ol>
                                                <li *ngFor="let setorTemAtividade of setor.atividades">
                                                    {{
                                                    setorTemAtividade.atividade.descricao }}</li>
                                            </ol>
                                        </td>

                                        <td class="flex justify-center items-center px-8 py-4">
                                            <a (click)="editar(setor.id)"
                                                class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                                    width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                                    <path fill-rule="evenodd"
                                                        d="M11.32 6.176H5c-1.105 0-2 .949-2 2.118v10.588C3 20.052 3.895 21 5 21h11c1.105 0 2-.948 2-2.118v-7.75l-3.914 4.144A2.46 2.46 0 0 1 12.81 16l-2.681.568c-1.75.37-3.292-1.263-2.942-3.115l.536-2.839c.097-.512.335-.983.684-1.352l2.914-3.086Z"
                                                        clip-rule="evenodd" />
                                                    <path fill-rule="evenodd"
                                                        d="M19.846 4.318a2.148 2.148 0 0 0-.437-.692 2.014 2.014 0 0 0-.654-.463 1.92 1.92 0 0 0-1.544 0 2.014 2.014 0 0 0-.654.463l-.546.578 2.852 3.02.546-.579a2.14 2.14 0 0 0 .437-.692 2.244 2.244 0 0 0 0-1.635ZM17.45 8.721 14.597 5.7 9.82 10.76a.54.54 0 0 0-.137.27l-.536 2.84c-.07.37.239.696.588.622l2.682-.567a.492.492 0 0 0 .255-.145l4.778-5.06Z"
                                                        clip-rule="evenodd" />
                                                </svg>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--PAGINAÇÃO-->
                    <nav aria-label="Navigation" class="sm:flex sm:justify-between flex-col sm:flex-row">
                        <div class="xl:w-1/12 lg:w-1/8 md:w-1/6 sm:w-1/4 w-full">
                            <label for="quantidadeRegistros" class="block text-gray-700 dark:text-gray-200">Exibir
                                registros:</label>
                            <select
                                class="form-select block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-200"
                                [(ngModel)]="seletor.limite" [ngModelOptions]="{ standalone: true }"
                                (change)="atualizarPaginacao()">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="40">40</option>
                            </select>
                        </div>
                        <div class="flex justify-center">
                            <div class="w-1/2 mb-4">
                                <label for="quantidadeRegistros"
                                    class="block text-gray-700 dark:text-gray-200">&nbsp;</label>
                                <ul class="pagination flex items-center justify-center -space-x-px h-10 text-base">
                                    <li class="page-item">
                                        <button [disabled]="seletor.pagina == 0"
                                            class="page-link flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                                            (click)="voltarPagina()">
                                            <span class="sr-only">Anterior</span>
                                            <svg class="w-3 h-3 rtl:rotate-180" aria-hidden="true" fill="none"
                                                viewBox="0 0 6 10">
                                                <path stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4" />
                                            </svg>
                                        </button>
                                    </li>
                                    <li class="page-item" *ngFor="let indice of criarArrayPaginas()"
                                        (click)="irParaPagina(indice-1)">
                                        <button
                                            class="page-link flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{indice}}</button>
                                    </li>
                                    <li class="page-item">
                                        <button [disabled]="seletor.pagina == totalPaginas-1"
                                            class="page-link flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                                            (click)="avancarPagina()">
                                            <span class="sr-only">Próximo</span>
                                            <svg class="w-3 h-3 rtl:rotate-180" aria-hidden="true" fill="none"
                                                viewBox="0 0 6 10">
                                                <path stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
                                            </svg>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </form>
        </div>
    </div>
</div>
