<div class="container-fluid">
  <form>
    <div class="row mb-4">
      <div
        class="col align-self-start col-md-6 offset-md-2 mt-4"
        style="color: #021925"
      >
        <h3>AFASTAMENTOS</h3>
      </div>
    </div>
    <div class="row">
      <div class="col align-self-start col-md-4 offset-md-2">
        <a class="filtro" style="text-decoration: none; color: #021925; cursor: pointer;" (click)="mostrarFiltros()" data-toggle="tooltip" data-placement="right" title="Clique aqui para registrar um afastamento">
          <h4 >Registrar Afastamento <span><i class="bi bi-person-fill-add"></i></span> </h4>
        </a>
      </div>
    </div>

    <!--REGISTRO-->
    <div class="row" *ngIf="this.mostrar">
      <div class="row my-4">
        <div class="col col-sm-1 offset-sm-2 fw-medium" style="color: #021925">
          <label>Natureza: </label>
        </div>
        <div class="col col-sm-7">
          <select
            class="form-select border border-0"
            style="background: #e9f8ff"
            name="cargo"
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="afastamento.natureza"
            required
          >
            <option
              *ngFor="let naturezaAfastamento of natureza"
              [ngValue]="naturezaAfastamento"
            >
              {{ naturezaAfastamento }}
            </option>
          </select>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col col-sm-1 offset-sm-2 fw-medium" style="color: #021925">
          <label>Descrição: </label>
        </div>
        <div class="col col-sm-7">
          <textarea
            class="form-control col-sm-6 my-2"
            name="descricao-categoria"
            rows="4"
            id="descricao-categoria"
            placeholder="Descreva o motivo do afastamento"
            [(ngModel)]="afastamento.descricao"
          ></textarea>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col offset-sm-2 fw-bold" style="color: #021925">
          <label>Período de afastamento: </label>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col col-sm-1 offset-sm-2 fw-medium" style="color: #021925">
          <label>De: </label>
        </div>
        <div class="col col-sm-3">
          <input
            class="form-control border border-0"
            style="background: #dcf2fc"
            name="menorDataFim"
            type="datetime-local"
            [(ngModel)]="afastamento.dataInicio"
          />
        </div>
        <div class="col col-sm-1 fw-medium" style="color: #021925">
          <label>Até: </label>
        </div>
        <div class="col col-sm-3">
          <input
            class="form-control border border-0"
            style="background: #dcf2fc"
            name="maiorDataFim"
            type="datetime-local"
            [(ngModel)]="afastamento.dataFim"
          />
        </div>
      </div>

      <div class="row mb-4">
        <div class="col col-md-3 offset-md-7 d-flex justify-content-end">
          <button
            id="btn-filtrar"
            class="btn fw-semibold"
            style="
              background: linear-gradient(180deg, #4ac9ff 0%, #06b5ec 100%);
              color: #00314d;
              box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
            "
            (click)="registrarAfastamento()"
            type="button"
          >
            Registrar afastamento
          </button>
        </div>
      </div>
    </div>

    <!--TABELA-->
    <div class="row my-4">
      <div class="col-sm-8 offset-sm-2">
        <table
          class="rounded-3 overflow-hidden table table-primary table-striped"
          id="tabela-usuarios"
        >
          <thead>
            <tr>
              <th
                scope="col"
                class="text-center"
                style="background-color: #0c62a0; color: #e9f8ff"
              >
                Natureza
              </th>
              <th
                scope="col"
                class="text-center"
                style="background-color: #0c62a0; color: #e9f8ff"
              >
                Descrição
              </th>
              <th
                scope="col"
                class="text-center"
                style="background-color: #0c62a0; color: #e9f8ff"
              >
                Dia inicial
              </th>
              <th
                scope="col"
                class="text-center"
                style="background-color: #0c62a0; color: #e9f8ff"
              >
                Dia final
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let afastamento of afastamentos">
              <td class="text-center">{{ afastamento.natureza }}</td>
              <td class="text-center">{{ afastamento.descricao }}</td>
              <td class="text-center">
                {{ afastamento.dataInicio | date : "dd/MM/yyyy - HH:mm" }}
              </td>
              <td class="text-center">
                {{ afastamento.dataFim | date : "dd/MM/yyyy - HH:mm" }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--TODO Fazer funcionar a paginação futuramente-->
    <!--PAGINAÇÃO-->
    <!--  -->
    <div class="row mb-4">
      <div class="col col-md-3 offset-md-7 d-flex justify-content-end">
        <button
          id="btn-voltar"
          class="btn fw-semibold"
          style="
            background: linear-gradient(180deg, #4ac9ff 0%, #06b5ec 100%);
            color: #00314d;
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
          "
          (click)="voltarUsuario()"
          type="submit"
        >
          Voltar
        </button>
      </div>
    </div>
  </form>
</div>
