<div class="p-4 sm:ml-64">
  <div class="p-4 border-0 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
    <div class="container mx-auto">
      <form>
        <div class="sm:mb-8 sm:mt-2 mb-8 mt-2 flex justify-between items-center space-x-10">
          <div class="text-gray-900 dark:text-blue-100 flex items-center">
            <h3 class="sm:text-3xl text-2xl text-left font-bold">
              Cronogramas Terminais
            </h3>
            <a class="flex items-center cursor-pointer filtro pl-4" (click)="mostrarListagemDeCronogramas()">
              <i>
                <svg [ngClass]="{'rotate-180': mostrarCronogramas}"
                  class="w-5 h-5 transform transition-transform duration-200" aria-hidden="true" fill="none"
                  viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 1 4 4 4-4" />
                </svg>
              </i>
            </a>
          </div>
        </div>

        <div *ngIf="this.mostrarCronogramas">
          <div class="flex flex-col sm:flex-row">
            <div class="mb-5 relative pr-2">
              <select
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block 2xl:w-96 lg:w-72 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                name="usuario" [(ngModel)]="usuario" required>
                <option>&nbsp;&nbsp;</option>
                <option *ngFor="let usuario of usuarios" [ngValue]="usuario">
                  {{ usuario.nome }}
                </option>
              </select>
            </div>

            <!-- BTN ATRIBUIÇÃO DE FUNCIONÁRIO -->
            <div class="mb-5 relative pr-2">
              <button id="btn-atribiur-funcionario"
                class="flex items-center space-x-2 px-4 justify-center btn font-semibold shadow-sm text-sm rounded-lg w-full p-2.5 bg-gradient-to-b from-light-light-blue to-light-dark-blue text-light-text focus:ring-light-dark-blue focus:border-light-dark-blue dark:bg-gradient-to-b dark:from-dark-light-blue dark:to-dark-dark-blue dark:text-blue-100 dark:focus:ring-dark-dark-blue dark:focus:border-dark-dark-blue dark:shadow-sm-light"
                (click)="atribuirFuncionario()" type="submit">
                <svg class="w-5 h-5 mr-4" aria-hidden="true" width="24" height="24" fill="currentColor"
                  viewBox="0 0 24 24">
                  <path fill-rule="evenodd"
                    d="M9 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4H7Zm8-1a1 1 0 0 1 1-1h1v-1a1 1 0 1 1 2 0v1h1a1 1 0 1 1 0 2h-1v1a1 1 0 1 1-2 0v-1h-1a1 1 0 0 1-1-1Z"
                    clip-rule="evenodd" />
                </svg>Atribuir funcionário
              </button>
            </div>

            <!--FILTRO-->
            <div class="flex flex-1 justify-end mb-5">
              <a class="flex items-center cursor-pointer filtro p-2" (click)="mostrarFiltros()">
                <label class="mx-2 font-medium text-gray-800 dark:text-blue-100 cursor-pointer">Filtro</label>
                <i>
                  <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" width="24" height="24"
                    fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                      d="M18.796 4H5.204a1 1 0 0 0-.753 1.659l5.302 6.058a1 1 0 0 1 .247.659v4.874a.5.5 0 0 0 .2.4l3 2.25a.5.5 0 0 0 .8-.4v-7.124a1 1 0 0 1 .247-.659l5.302-6.059c.566-.646.106-1.658-.753-1.658Z" />
                  </svg>
                </i>
              </a>
            </div>
          </div>

          <div *ngIf="this.mostrar">
            <div class="flex flex-wrap lg:flex-row ">
              <div class="flex flex-col mb-5 w-1/2 pr-2">
                <div class="mb-5">
                  <label for="setor" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Setor:
                  </label>
                  <input
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                    name="setor" [(ngModel)]="seletor.setor" />
                </div>

                <div class="mb-5">
                  <label for="ambiente" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ambiente:
                  </label>
                  <input
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                    name="ambiente" [(ngModel)]="seletor.ambiente" />
                </div>

                <div class="mb-5">
                  <label for="data" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">De:
                  </label>
                  <input
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                    name="data" type="date" [(ngModel)]="seletor.dataProgramadaInicio" />
                </div>
              </div>

              <div class="flex flex-col mb-5 w-1/2 pl-2">
                <div class="mb-5">
                  <label for="funcionario"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Funcionário:
                  </label>
                  <select
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                    name="usuario" [(ngModel)]="seletor.usuario" required>
                    <option>&nbsp;&nbsp;</option>
                    <option *ngFor="let usuario of usuarios" [ngValue]="usuario">
                      {{ usuario.nome }}
                    </option>
                  </select>
                </div>

                <div class="mb-5">
                  <label for="atividade" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Atividade:
                  </label>
                  <select
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                    name="atividade" [ngModelOptions]="{ standalone: true }" [(ngModel)]="seletor.atividade" required>
                    <option [ngValue]="{}"></option>
                    <option *ngFor="let atividade of atividades" [ngValue]="atividade">
                      {{ atividade.descricao }}
                    </option>
                  </select>
                </div>

                <div class="mb-5">
                  <label for="data" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Até:
                  </label>
                  <input
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                    name="data" type="date" [(ngModel)]="seletor.dataProgramadaFim" />
                </div>

                <div class="mb-5">
                  <label for="atividade"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">&nbsp;&nbsp;
                  </label>
                  <button id="btn-filtrar"
                    class="btn font-semibold shadow-sm text-sm rounded-lg block w-full p-2.5 bg-gradient-to-b from-light-light-blue to-light-dark-blue text-light-text focus:ring-light-dark-blue focus:border-light-dark-blue dark:bg-gradient-to-b dark:from-dark-light-blue dark:to-dark-dark-blue dark:text-blue-100 dark:focus:ring-dark-dark-blue dark:focus:border-dark-dark-blue dark:shadow-sm-light"
                    (click)="filtrarCronograma(); mostrarFiltros()" type="submit">
                    Filtrar
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!--TABELA-->
          <div class="mb-5 justify-center">
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
              <table class="w-full text-sm text-left rtl:text-right text-gray-900 dark:text-gray-200">
                <thead class="text-xs text-gray-700 bg-gray-100 dark:bg-gray-600 dark:text-gray-200">
                  <tr>
                    <th scope="col" class="px-8 py-3">
                      <input type="checkbox" #checkMaster (change)="selecionarTodos()">
                    </th>
                    <th scope="col" class="px-8 py-3">
                      <div class="flex items-center">
                        AMBIENTE
                        <!-- <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true"
                                                        fill="currentColor" viewBox="0 0 24 24">
                                                        <path
                                                            d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z" />
                                                    </svg></a> -->
                      </div>
                    </th>
                    <th scope="col" class="px-8 py-3">
                      <div class="flex items-center">
                        SETOR
                        <!-- <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true"
                                                        fill="currentColor" viewBox="0 0 24 24">
                                                        <path
                                                            d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z" />
                                                    </svg></a> -->
                      </div>
                    </th>
                    <th scope="col" class="px-8 py-3">
                      <div class="flex items-center">
                        DATA
                        <!-- <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true"
                                                        fill="currentColor" viewBox="0 0 24 24">
                                                        <path
                                                            d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z" />
                                                    </svg></a> -->
                      </div>
                    </th>

                    <th scope="col" class="px-8 py-3">
                      <div class="flex items-center">
                        FUNCIONÁRIO
                        <!-- <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true"
                                                        fill="currentColor" viewBox="0 0 24 24">
                                                        <path
                                                            d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z" />
                                                    </svg></a> -->
                      </div>
                    </th>

                    <th scope="col" class="px-8 py-3">
                      <div class="flex items-center">
                        ATIVIDADES
                        <!-- <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true"
                                                        fill="currentColor" viewBox="0 0 24 24">
                                                        <path
                                                            d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z" />
                                                    </svg></a> -->
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let servico of servicos" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="px-8 py-4">
                      <input type="checkbox" [value]="servico.id" #checkboxes>
                    </td>
                    <td class="px-8 py-4">{{ servico.ambiente.descricao }}</td>
                    <td class="px-8 py-4">{{ servico.ambiente.setor.nome }}</td>
                    <td class="px-8 py-4">{{ servico.dataProgramada | date : "dd/MM/yyyy"}} {{
                      servico.turno?.turno }}</td>
                    <td class="px-8 py-4">{{ servico.usuario?.nome }}</td>
                    <td class="px-8 py-4">
                      <ol>
                        <li *ngFor="let atividade of servico.atividades">
                          {{atividade.descricao }}</li>
                      </ol>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!--PAGINAÇÃO-->
          <nav aria-label="Navigation" class="sm:flex sm:justify-between flex-col sm:flex-row">
            <div class="xl:w-1/12 lg:w-1/10 md:w-1/6 sm:w-1/4 w-full mr-8">
              <label for="quantidadeRegistros" class="block text-gray-700 dark:text-gray-200">Exibir
                registros:</label>
              <select
                class="form-select block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 dark:bg-gray-700 dark:border-gray-600 dark:text-gray-200"
                [(ngModel)]="seletor.limite" [ngModelOptions]="{ standalone: true }" (change)="atualizarPaginacao()">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="40">40</option>
              </select>
            </div>
            <div class="flex justify-center">
              <div class="w-1/2 mb-4">
                <label for="quantidadeRegistros" class="block text-gray-700 dark:text-gray-200">&nbsp;</label>
                <ul class="pagination flex items-center justify-center -space-x-px h-10 text-base">
                  <li class="page-item">
                    <button [disabled]="seletor.pagina == 0"
                      class="page-link flex items-center justify-center px-1 h-10 leading-tight text-gray-900 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-700 dark:border-gray-600 dark:text-gray-200 dark:hover:bg-gray-700 dark:hover:text-white"
                      (click)="irParaPagina(0)">
                      <span class="sr-only">Primeira Página</span>
                      <svg aria-hidden="true" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                          d="m17 16-4-4 4-4m-6 8-4-4 4-4" />
                      </svg>

                    </button>
                  </li>
                  <li class="page-item">
                    <button [disabled]="seletor.pagina == 0"
                      class="page-link flex items-center justify-center px-3 h-10 leading-tight text-gray-900 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-700 dark:border-gray-600 dark:text-gray-200 dark:hover:bg-gray-700 dark:hover:text-white"
                      (click)="voltarPagina()">
                      <span class="sr-only">Anterior</span>
                      <svg class="w-3 h-3 rtl:rotate-180" aria-hidden="true" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                          d="M5 1 1 5l4 4" />
                      </svg>
                    </button>
                  </li>
                  <li class="page-item" *ngFor="let indice of criarArrayPaginas()">
                    <button *ngIf="indice !== '...'"
                      class="page-link flex items-center justify-center px-4 h-10 leading-tight text-gray-900 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-700 dark:border-gray-600 dark:text-gray-200 dark:hover:bg-gray-700 dark:hover:text-white"
                      (click)="irParaPagina(indice-1)">{{indice}}</button>
                    <span *ngIf="indice === '...'"
                      class="page-link flex items-center justify-center px-4 h-10 leading-tight text-gray-900 bg-white border border-gray-300">{{indice}}</span>
                  </li>
                  <li class="page-item">
                    <button [disabled]="seletor.pagina == totalPaginas-1"
                      class="page-link flex items-center justify-center px-3 h-10 leading-tight text-gray-900 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-700 dark:border-gray-600 dark:text-gray-200 dark:hover:bg-gray-700 dark:hover:text-white"
                      (click)="avancarPagina()">
                      <span class="sr-only">Próximo</span>
                      <svg class="w-3 h-3 rtl:rotate-180" aria-hidden="true" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                          d="m1 9 4-4-4-4" />
                      </svg>
                    </button>
                  </li>
                  <li class="page-item">
                    <button [disabled]="seletor.pagina == totalPaginas-1"
                      class="page-link flex items-center justify-center px-1 h-10 leading-tight text-gray-900 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-700 dark:border-gray-600 dark:text-gray-200 dark:hover:bg-gray-700 dark:hover:text-white"
                      (click)="irParaPagina(totalPaginas-1)">
                      <span class="sr-only">Última Página</span>
                      <svg aria-hidden="true" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                          d="m7 16 4-4-4-4m6 8 4-4-4-4" />
                      </svg>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
            <div class="flex w-1/6 justify-end items-center">
              <button id="btn-exportar"
                class="btn font-semibold shadow-sm text-sm rounded-lg block w-full p-2.5 bg-gradient-to-b from-light-light-blue to-light-dark-blue text-light-text focus:ring-light-dark-blue focus:border-light-dark-blue dark:bg-gradient-to-b dark:from-dark-light-blue dark:to-dark-dark-blue dark:text-blue-100 dark:focus:ring-dark-dark-blue dark:focus:border-dark-dark-blue dark:shadow-sm-dark"
                (click)="exportarPlanilhaCronConcorrente()" type="submit">
                Exportar
              </button>
            </div>
          </nav>
        </div>
      </form>
    </div>
  </div>
</div>