input[type="date"] {
  box-sizing: border-box;
  padding: 8px;
  width: 100%;
  height: auto;
  position: relative;
  &::-webkit-inner-spin-button {
    display: none;
  }
  &::-webkit-datetime-edit-fields-wrapper {
    padding-left: 30px;
  }
}

input::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 8px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 100%; /* Position the tooltip text to the right of the icon */
  margin-left: 10px; /* Adjust the space between the icon and the tooltip */
  transform: translateY(-50%); /* Center the tooltip vertically */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Style for the tooltip arrow */
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: -5px; /* Position the arrow on the left side */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent; /* Arrow pointing left */
}
