<div class="p-4 sm:ml-64">
  <div class="p-4 border-0 border-gray-200 border-dashed rounded-lg dark:border-gray-600 mt-14">
    <form>
      <div class="sm:mb-8 sm:mt-2 mb-8 mt-2 flex justify-between items-center space-x-10">
        <div class="text-gray-900 dark:text-blue-100">
          <h3 class="sm:text-3xl text-2xl font-poppins text-left font-bold">Consulta de Serviços</h3>
        </div>
        <!--FILTRO-->
        <a class="flex items-center cursor-pointer filtro p-2" (click)="mostrarFiltros()">
          <label class="mx-2 font-medium text-gray-900 dark:text-blue-100 cursor-pointer">Filtro</label>
          <i>
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" width="24" height="24" fill="none"
              viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                d="M18.796 4H5.204a1 1 0 0 0-.753 1.659l5.302 6.058a1 1 0 0 1 .247.659v4.874a.5.5 0 0 0 .2.4l3 2.25a.5.5 0 0 0 .8-.4v-7.124a1 1 0 0 1 .247-.659l5.302-6.059c.566-.646.106-1.658-.753-1.658Z" />
            </svg>
          </i>
        </a>
      </div>

      <div *ngIf="this.mostrar">
        <div class="flex flex-wrap lg:flex-row">
          <div class="flex flex-col mb-5 w-1/2 px-2">
            <div class="mb-5">
              <label for="nome" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Funcionário:
              </label>
              <input
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-dark"
                name="nome" [(ngModel)]="seletor.usuario" />
            </div>
            <div class="mb-5">
              <label for="ambiente" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ambiente:
              </label>
              <input
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-dark"
                name="ambiente" [(ngModel)]="seletor.ambiente" />
            </div>
            <div class="mb-5">
              <label for="atividades" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Atividades:
              </label>
              <select
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-dark"
                name="atividades" [ngModelOptions]="{ standalone: true }" [(ngModel)]="seletor.atividade" required>
                <option>&nbsp;&nbsp;</option>
                <option *ngFor="let atividade of atividades" [ngValue]="atividade">
                  {{ atividade.descricao }}
                </option>
              </select>
            </div>
            <div class="mb-5">
              <label for="tipoDeLimpeza" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tipo de Limpeza:
              </label>
              <select
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-dark"
                name="tipoDeLimpeza" [ngModelOptions]="{ standalone: true }" [(ngModel)]="seletor.tipoDeLimpeza" required>
                <option>&nbsp;&nbsp;</option>
                <option *ngFor="let tipo of tipoDeLimpeza" [ngValue]="tipo">
                  {{ tipo.tipoDeLimpeza }}
                </option>
              </select>
            </div>
          </div>
          <div class="flex flex-col mb-5 w-1/2 px-2">
            <div class="mb-5">
              <label for="ocorrencia" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ocorrencia:
              </label>
              <select
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-dark"
                name="ocorrencia" [ngModelOptions]="{ standalone: true }" [(ngModel)]="seletor.ocorrencia" required>
                <option>&nbsp;&nbsp;</option>
                <option *ngFor="let ocorrencia of categoriaOcorrencias" [ngValue]="ocorrencia.categoria">
                  {{ ocorrencia.categoria }}
                </option>
              </select>
            </div>
            <div class="mb-5">
              <label for="dataInicio" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">De:
                <div class="tooltip ml-4"><svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                    </svg>
                  <span class="tooltiptext">Filtrando por data programada</span>
                </div>
              </label>
              <input
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-dark"
                name="dataInicio" type="date" [(ngModel)]="seletor.dataProgramadaInicio" />
            </div>
            <div class="mb-5 mt-1">
              <label for="dataFim" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Até:
                <div class="tooltip ml-4"><svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                    </svg>
                  <span class="tooltiptext">Filtrando por data programada</span>
                </div>
              </label>
              <input
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-dark"
                name="dataFim" type="date" [(ngModel)]="seletor.dataProgramadaFim" />
            </div>
            <div class="mb-5 mt-7 flex justify-end">
              <button id="btn-filtrar"
                class="btn font-semibold shadow-sm text-sm rounded-lg block w-full p-2.5 bg-gradient-to-b from-light-light-blue to-light-dark-blue text-light-text focus:ring-light-dark-blue focus:border-light-dark-blue dark:bg-gradient-to-b dark:from-dark-light-blue dark:to-dark-dark-blue dark:text-blue-100 dark:focus:ring-dark-dark-blue dark:focus:border-dark-dark-blue dark:shadow-sm-dark"
                (click)="filtrarServico(); mostrarFiltros()" type="submit">
                Filtrar
              </button>
            </div>
          </div>
        </div>
      </div>
      <!--TABELA-->
      <div class="mb-5 justify-center">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
          <table class="w-full text-sm text-left rtl:text-right text-gray-900 dark:text-gray-200 pl-20">
            <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-600 dark:text-gray-200">
              <tr>
                <th scope="col" class="px-8 py-3">
                  <div class="flex items-center">
                    Nome
                    <!-- <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
                      <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                    </svg></a> -->
                  </div>
                </th>
                <th scope="col" class="px-8 py-3">
                  <div class="flex items-center">
                    Ambiente
                    <!-- <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
                      <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                    </svg></a> -->
                  </div>
                </th>
                <th scope="col" class="px-8 py-3">
                  <div class="flex items-center">
                    Tipo de Limpeza
                    <!-- <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
                      <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                    </svg></a> -->
                  </div>
                </th>
                <th scope="col" class="px-8 py-3">
                  <div class="flex items-center">
                    Data Programada
                    <!-- <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
                      <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                    </svg></a> -->
                  </div>
                </th>
                <th scope="col" class="px-8 py-3">
                  <div class="flex items-center">
                    Data de Conclusão
                    <!-- <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
                      <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                    </svg></a> -->
                  </div>
                </th>
                <th scope="col" class="px-8 py-3">
                  <div class="flex items-center">
                    Atividades
                    <!-- <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
                      <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                    </svg></a> -->
                  </div>
                </th>
                <th scope="col" class="px-8 py-3">
                  <div class="flex items-center">
                    Ocorrência
                    <!-- <a href="#"><svg class="w-3 h-3 ms-1.5" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
                      <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                    </svg></a> -->
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let servico of servicos" class="bg-white border-b dark:bg-gray-700 dark:border-gray-600">
                <td class="px-8 py-4">{{ servico.usuario?.nome }}</td>
                <td class="px-8 py-4">{{ servico.ambiente.descricao }}</td>
                <td class="px-8 py-4">{{ servico.tipoDeLimpeza.tipoDeLimpeza }}</td>
                <td class="px-8 py-4">{{ servico.dataProgramada | date : "dd/MM/yyyy" }} {{ servico.turno ? '- ' + servico.turno.turno : '' }}</td>
                <td class="px-8 py-4">{{ servico.dataHoraFim | date : "dd/MM/yyyy - HH:mm" }}</td>
                <td class="px-8 py-4">
                  <div *ngFor="let atividade of servico.atividades; let isLast=last">
                    {{ atividade.descricao }}<span *ngIf="!isLast">, </span>
                  </div>
                </td>
                <td class="px-8 py-4">{{ servico.ocorrencia }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- PAGINAS -->
      <nav aria-label="Navigation" class="sm:flex sm:justify-between flex-col sm:flex-row">
        <div class="xl:w-1/12 lg:w-1/10 md:w-1/6 sm:w-1/4 w-full mr-8">
          <label for="quantidadeRegistros" class="block text-gray-700 dark:text-gray-200">Exibir registros:</label>
          <select
            class="form-select block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 dark:bg-gray-700 dark:border-gray-600 dark:text-gray-200"
            [(ngModel)]="seletor.limite" [ngModelOptions]="{ standalone: true }" (change)="atualizarPaginacao()">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="40">40</option>
          </select>
        </div>
        <div class="flex justify-center">
          <div class="w-1/2 mb-4">
            <label for="quantidadeRegistros" class="block text-gray-700 dark:text-gray-200">&nbsp;</label>
            <ul class="pagination flex items-center justify-center -space-x-px h-10 text-base">
              <li class="page-item">
                <button [disabled]="seletor.pagina == 0"
                  class="page-link flex items-center justify-center px-1 h-10 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-700 dark:border-gray-600 dark:text-gray-200 dark:hover:bg-gray-700 dark:hover:text-white"
                  (click)="irParaPagina(0)">
                  <span class="sr-only">Primeira Página</span>
                  <svg aria-hidden="true" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                      d="m17 16-4-4 4-4m-6 8-4-4 4-4" />
                  </svg>

                </button>
              </li>
              <li class="page-item">
                <button [disabled]="seletor.pagina == 0"
                  class="page-link flex items-center justify-center px-3 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-700 dark:border-gray-600 dark:text-gray-200 dark:hover:bg-gray-700 dark:hover:text-white"
                  (click)="voltarPagina()">
                  <span class="sr-only">Anterior</span>
                  <svg class="w-3 h-3 rtl:rotate-180" aria-hidden="true" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                      d="M5 1 1 5l4 4" />
                  </svg>
                </button>
              </li>
              <li class="page-item" *ngFor="let indice of criarArrayPaginas()">
                <button *ngIf="indice !== '...'"
                  class="page-link flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-700 dark:border-gray-600 dark:text-gray-200 dark:hover:bg-gray-700 dark:hover:text-white"
                  (click)="irParaPagina(indice-1)">{{indice}}</button>
                <span *ngIf="indice === '...'"
                  class="page-link flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300">{{indice}}</span>
              </li>
              <li class="page-item">
                <button [disabled]="seletor.pagina == totalPaginas-1"
                  class="page-link flex items-center justify-center px-3 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-700 dark:border-gray-600 dark:text-gray-200 dark:hover:bg-gray-700 dark:hover:text-white"
                  (click)="avancarPagina()">
                  <span class="sr-only">Próximo</span>
                  <svg class="w-3 h-3 rtl:rotate-180" aria-hidden="true" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                      d="m1 9 4-4-4-4" />
                  </svg>
                </button>
              </li>
              <li class="page-item">
                <button [disabled]="seletor.pagina == totalPaginas-1"
                  class="page-link flex items-center justify-center px-1 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-700 dark:border-gray-600 dark:text-gray-200 dark:hover:bg-gray-700 dark:hover:text-white"
                  (click)="irParaPagina(totalPaginas-1)">
                  <span class="sr-only">Última Página</span>
                  <svg aria-hidden="true" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                      d="m7 16 4-4-4-4m6 8 4-4-4-4" />
                  </svg>
                </button>
              </li>
            </ul>
          </div>
        </div>
        <div class="hidden md:hidden lg:flex w-1/6 justify-end items-center">
        </div>
      </nav>
    </form>
  </div>
</div>
