<div class="p-4 sm:ml-64">
  <div class="p-4 border-0 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">
    <div class="container mx-auto">
      <form #ngForm="ngForm" novalidate class="max-w-sm mx-auto">
        <div class="mb-4 mt-4">
          <div class="text-blue-900 dark:text-blue-100">
            <h3 class="text-3xl text-center">CADASTRO DE USUÁRIO</h3>
          </div>
        </div>
        <!--NOME-->
        <div class="mb-5">
          <label for="nome" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nome: </label>
          <input
            :class="{
              'border-red-500': (!usuario.nome || (usuario.nome && usuario.nome.length < 3)) && ngForm.submitted,
              'border-gray-200': !(!usuario.nome || (usuario.nome && usuario.nome.length < 3)) && ngForm.submitted
            }"
            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
            name="nome"
            minlength="3"
            [(ngModel)]="usuario.nome"
            required
          />
          <div
            *ngIf="ngForm.submitted && !this.usuario.nome"
            class="text-red-500"
          >
            Informe um nome com no mínimo 2 caracteres
          </div>
        </div>
        <!--CPF-->
        <div class="mb-5">
          <label for="cpf" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">CPF: </label>
          <input
            :class="{
              'border-red-500': !usuario.cpf && ngForm.submitted,
              'border-gray-200': usuario.cpf && ngForm.submitted
            }"
            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
            placeholder="000.000.000-00"
            name="cpf"
            [inputMask]="mascaraCpf"
            [formControl]="cpf"
            [(ngModel)]="usuario.cpf"
            required
          />
          <div
            *ngIf="ngForm.submitted && !this.usuario.cpf"
            class="text-red-500"
          >
            CPF inválido!
          </div>
        </div>
        <!--DATA DE NASCIMENTO-->
        <!-- TODO -->
        <div class="mb-5 relative max-w-sm">
          <label for="dataNascimento" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Data de Nascimento: </label>
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pt-6 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
            </svg>
          </div>
          <input datepicker datepicker-autohide type="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="dd/mm/aaaa"
            minlength="8"
            id="dataNascimento"
            name="dataNascimento"
            [(ngModel)]="usuario.dataNascimento"
            required
          />
          <div
            *ngIf="ngForm.submitted && !this.usuario.dataNascimento"
            class="text-red-500"
          >
            Data inválida!
          </div>
        </div>
        <!--TELEFONE-->
      <div class="mb-5">
        <label for="telefone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Telefone: </label>
        <input
          :class="{
            'border-red-500': !usuario.telefone && ngForm.submitted,
            'border-gray-200': usuario.telefone && ngForm.submitted
          }"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
          [inputMask]="mascaraTelefone"
          [formControl]="telefone"
          placeholder="(00) 00000-0000"
          name="telefone"
          [(ngModel)]="usuario.telefone"
          required
        />
        <div
          *ngIf="ngForm.submitted && !this.usuario.telefone"
          class="text-red-500"
        >
          Telefone inválido!
        </div>
      </div>
      <!--CARGO-->
    <div class="mb-5">
      <label for="cargo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cargo: </label>
      <select
        :class="{
          'border-red-500': !usuario.cargo && ngForm.submitted,
          'border-gray-200': usuario.cargo && ngForm.submitted
        }"
        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
        name="cargo"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="usuario.cargo"
        required
      >
        <option *ngFor="let cargo of cargos" [ngValue]="cargo">
          {{ cargo }}
        </option>
      </select>
      <div
        *ngIf="ngForm.submitted && !this.usuario.cargo"
        class="text-red-500"
      >
        Selecione um cargo!
      </div>
    </div>
    <div class="mb-5">
      <div class="md:mx-auto md:w-1/2 flex justify-end">
        <button
          id="btn-salvar"
          class="btn font-semibold shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
          style="
            background: linear-gradient(180deg, #4ac9ff 0%, #06b5ec 100%);
            color: #00314d;
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
          "
          (click)="inserirUsuario(ngForm)"
          type="submit"
        >
          Cadastrar Usuário
        </button>
      </div>
    </div>
    </form>
  </div>
 </div>
</div>
      <!--CTPS-->
      <!-- <div class="mb-5">
        <label for="ctps" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">CTPS: </label>
        <input
          :class="{
            'border-red-500': !usuario.ctps && ngForm.submitted,
            'border-gray-200': usuario.ctps && ngForm.submitted
          }"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
          placeholder="0000000/0000"
          [inputMask]="mascaraCtps"
          [formControl]="ctps"
          name="ctps"
          [(ngModel)]="usuario.ctps"
          required
        />
        <div
          *ngIf="ngForm.submitted && !this.usuario.ctps"
          class="text-red-500"
        >
          CTPS inválido!
        </div>
      </div> -->
      <!--MATRICULA-->
      <!-- <div class="mb-5">
        <label for="matricula" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Matrícula: </label>
        <input
          :class="{
            'border-red-500': !usuario.matricula && ngForm.submitted,
            'border-gray-200': usuario.matricula && ngForm.submitted
          }"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
          name="matricula"
          [(ngModel)]="usuario.matricula"
          required
        />
        <div
          *ngIf="ngForm.submitted && !this.usuario.matricula"
          class="text-red-500"
        >
          Matrícula inválida!
        </div>
      </div> -->
      <!--SENHA-->
      <!-- <div class="mb-5">
        <label for="senha" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Senha: </label>
        <input
          :class="{
            'border-red-500': !usuario.senha && ngForm.submitted,
            'border-gray-200': usuario.senha && ngForm.submitted
          }"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
          minlength="8"
          name="senha"
          type="password"
          [(ngModel)]="usuario.senha"
          required
        />
        <div
          *ngIf="ngForm.submitted && !this.usuario.senha"
          class="text-red-500"
        >
          Senha inválida!
        </div>
      </div> -->


<!-- <div class="container-fluid">
  <form #ngForm="ngForm" novalidate>
    <div class="row mb-4 mt-4">
      <div
        class="col align-self-start col-md-6 offset-md-3"
        style="color: #021925"
      >
        <h3>CADASTRO DE USUÁRIO</h3>
      </div>
    </div> -->
    <!--NOME-->
    <!-- <div class="row mb-4">
      <div class="col col-sm-2 offset-sm-3" style="color: #021925">
        <label for="nome">Nome: </label>
      </div>
      <div class="col col-sm-4">
        <input
          [ngClass]="
            (!usuario.nome || (usuario.nome && usuario.nome.length < 3)) &&
            ngForm.submitted
              ? 'form-control is-invalid'
              : 'form-control'
          "
          class="form-control border border-0"
          style="background: #e9f8ff"
          name="nome"
          minlength="3"
          [(ngModel)]="usuario.nome"
          required
        />
        <div
          *ngIf="ngForm.submitted && !this.usuario.nome"
          class="text text-danger"
        >
          Informe um nome com no mínimo 2 caracteres
        </div>
      </div>
    </div> -->
    <!--CPF-->
    <!-- <div class="row mb-4">
      <div class="col col-sm-2 offset-sm-3" style="color: #021925">
        <label for="cpf">CPF: </label>
      </div>
      <div class="col col-sm-4">
        <input
          [ngClass]="
            !usuario.cpf && ngForm.submitted
              ? 'form-control border border-danger'
              : 'form-control'
          "
          class="form-control border border-0"
          style="background: #e9f8ff"
          placeholder="000.000.000-00"
          name="cpf"
          [inputMask]="mascaraCpf"
          [formControl]="cpf"
          [(ngModel)]="usuario.cpf"
          required
        />
        <div
          *ngIf="ngForm.submitted && !this.usuario.cpf"
          class="text text-danger"
        >
          CPF inválido!
        </div>
      </div>
    </div> -->
    <!--TELEFONE-->
    <!-- <div class="row mb-4">
      <div class="col col-sm-2 offset-sm-3" style="color: #021925">
        <label for="telefone">Telefone: </label>
      </div>
      <div class="col col-sm-4">
        <input
          [ngClass]="
            !usuario.telefone && ngForm.submitted
              ? 'form-control border border-danger'
              : 'form-control'
          "
          class="form-control border border-0"
          style="background: #e9f8ff"
          [inputMask]="mascaraTelefone"
          [formControl]="telefone"
          placeholder="(00) 00000-0000"
          name="telefone"
          [(ngModel)]="usuario.telefone"
          required
        />
        <div
          *ngIf="ngForm.submitted && !this.usuario.telefone"
          class="text text-danger"
        >
          Telefone inválido!
        </div>
      </div>
    </div> -->
    <!--DATA DE NASCIMENTO-->
    <!-- <div class="row mb-4">
      <div class="col col-sm-2 offset-sm-3" style="color: #021925">
        <label for="dataNascimento">Data de Nascimento: </label>
      </div>
      <div class="col col-sm-4">
        <input
          [ngClass]="
            !usuario.dataNascimento && ngForm.submitted
              ? 'form-control border border-danger'
              : 'form-control'
          "
          class="form-control border border-0"
          style="background: #e9f8ff"
          placeholder="dd/mm/aaaa"
          minlength="8"
          name="dataNascimento"
          type="date"
          [(ngModel)]="usuario.dataNascimento"
          required
        />
        <div
          *ngIf="ngForm.submitted && !this.usuario.dataNascimento"
          class="text text-danger"
        >
          Data inválida!
        </div>
      </div>
    </div> -->
    <!--CTPS-->
    <!-- <div class="row mb-4">
      <div class="col col-sm-2 offset-sm-3" style="color: #021925">
        <label for="ctps">CTPS: </label>
      </div>
      <div class="col col-sm-4">
        <input
          [ngClass]="
            !usuario.ctps && ngForm.submitted
              ? 'form-control border border-danger'
              : 'form-control'
          "
          class="form-control border border-0"
          style="background: #e9f8ff"
          placeholder="0000000/0000"
          [inputMask]="mascaraCtps"
          [formControl]="ctps"
          name="ctps"
          [(ngModel)]="usuario.ctps"
          required
        />
        <div
          *ngIf="ngForm.submitted && !this.usuario.ctps"
          class="text text-danger"
        >
          CTPS inválido!
        </div>
      </div>
    </div> -->
    <!--CARGO-->
    <!-- <div class="row mb-4" style="color: #021925">
      <div class="col col-sm-2 offset-sm-3">
        <label for="cargo">Cargo: </label>
      </div>
      <div class="col col-sm-4">
        <select
          [ngClass]="
            !usuario.cargo && ngForm.submitted
              ? 'form-control border border-danger'
              : 'form-control'
          "
          class="form-select border border-0"
          style="background: #e9f8ff"
          name="cargo"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="usuario.cargo"
          required
        >
          <option *ngFor="let cargo of cargos" [ngValue]="cargo">
            {{ cargo }}
          </option>
        </select>
        <div
          *ngIf="ngForm.submitted && !this.usuario.cargo"
          class="text text-danger"
        >
          Selecione um cargo!
        </div>
      </div>
    </div> -->
    <!--MATRICULA-->
    <!-- <div class="row mb-4">
      <div class="col col-sm-2 offset-sm-3" style="color: #021925">
        <label for="matricula">Matrícula: </label>
      </div>
      <div class="col col-sm-4">
        <input
          [ngClass]="
            !usuario.matricula && ngForm.submitted
              ? 'form-control border border-danger'
              : 'form-control'
          "
          class="form-control border border-0"
          style="background: #e9f8ff"
          name="matricula"
          [(ngModel)]="usuario.matricula"
          required
        />
        <div
          *ngIf="ngForm.submitted && !this.usuario.matricula"
          class="text text-danger"
        >
          Matrícula inválida!
        </div>
      </div>
    </div> -->
    <!--SENHA-->
    <!-- <div class="row mb-4">
      <div class="col col-sm-2 offset-sm-3" style="color: #021925">
        <label for="senha">Senha: </label>
      </div>
      <div class="col col-sm-4">
        <input
          [ngClass]="
            !usuario.senha && ngForm.submitted
              ? 'form-control border border-danger'
              : 'form-control'
          "
          class="form-control border border-0"
          style="background: #e9f8ff"
          minlength="8"
          name="senha"
          type="password"
          [(ngModel)]="usuario.senha"
          required
        />
        <div
          *ngIf="ngForm.submitted && !this.usuario.senha"
          class="text text-danger"
        >
          Senha inválida!
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col col-md-3 offset-md-6 d-flex justify-content-end">
        <button
          id="btn-salvar"
          class="btn fw-semibold"
          style="
            background: linear-gradient(180deg, #4ac9ff 0%, #06b5ec 100%);
            color: #00314d;
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
          "
          (click)="inserirUsuario(ngForm)"
          type="submit"
        >
          Cadastrar Usuário
        </button>
      </div>
    </div>
  </form>
</div> -->
