<div class="p-4 sm:ml-64">
    <div class="p-4 border-0 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">
        <div class="container mx-auto">
            <form>
                <div class="sm:mb-8 sm:mt-2 mb-8 mt-2">
                    <div class="text-gray-900 dark:text-blue-100 flex items-center">
                        <h3 class="sm:text-3xl text-2xl text-left font-bold">Cadastro de Ambiente</h3>
                        <a class="flex items-center cursor-pointer filtro p-2" (click)="mostrarCadastro()">
                            <i>
                                <svg class="w-10 h-10 text-gray-800 dark:text-white" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                    viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m19 9-7 7-7-7" />
                                </svg>
                            </i>
                        </a>
                    </div>
                </div>

                <div class="justify-between" *ngIf="this.mostrar">
                    <!-- NOME OU NÚMERO -->
                    <div class="flex flex-col sm:flex-row justify-between">
                        <div class="mb-5 relative flex-1 sm:ml-2.5">
                            <label for="nome" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nome
                                ou
                                número:
                            </label>
                            <input :class="{
                            'border-red-500': (!ambiente.descricao || (ambiente.descricao && ambiente.descricao.length < 3)) && ngForm.submitted,
                            'border-gray-200': !(!ambiente.descricao || (ambiente.descricao && ambiente.descricao.length < 3)) && ngForm.submitted
                        }" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                                name="nome" minlength="3" [(ngModel)]="ambiente.descricao" required />
                            <div *ngIf="ngForm.submitted && !this.ambiente.descricao" class="text-red-500">
                                Informe um nome com no mínimo 2 caracteres
                            </div>
                        </div>
                    </div>
                    <!-- SETOR -->
                    <div class="flex flex-col sm:flex-row justify-between">
                        <div class="mb-5 relative flex-1 sm:ml-2.5">
                            <label for="setor"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Setor:
                            </label>
                            <select :class="{
                            'border-red-500': !ambiente.setor && ngForm.submitted,
                            'border-gray-200': ambiente.setor && ngForm.submitted
                            }" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                                name="setor" [ngModelOptions]="{ standalone: true }" [(ngModel)]="ambiente.setor "
                                required>
                                <option *ngFor="let setor of setores" [ngValue]="setor">
                                    {{ setor.nome }}
                                </option>
                            </select>
                            <div *ngIf="ngForm.submitted && !this.ambiente.setor " class="text-red-500">
                                Selecione um setor!
                            </div>
                        </div>
                    </div>
                    <!-- ATIVIDADES -->
                    <div class="flex flex-col sm:flex-row justify-between">
                        <div class="mb-5 relative flex-1 sm:ml-2.5">
                            <label for="atividades"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Atividades:</label>
                            <select [(ngModel)]="atividades" name="atividades" multiple
                                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
                                <option *ngFor="let atividade of atividades" [value]="atividade">{{atividade}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <!-- BOTÃO CADASTRO -->
                    <div class="mb-5 mt-5 sm:mt-20">
                        <div class="md:mx-auto md:w-1/4 flex justify-end">
                            <button id="btn-salvar"
                                class="btn font-semibold shadow-sm bg-gradient-to-b from-light-light-blue to-light-dark-blue text-light-text text-sm rounded-lg focus:ring-light-dark-blue focus:border-light-dark-blue block w-full p-2.5 dark:bg-gradient-to-b dark:from-dark-light-blue dark:to-dark-dark-blue dark:text-blue-100 dark:focus:ring-dark-dark-blue dark:focus:border-dark-dark-blue dark:shadow-sm-light"
                                type="submit">
                                Cadastrar Ambiente
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Chamada da tela de listagem de ambientes -->
<app-ambiente-listagem></app-ambiente-listagem>