<div class="p-4 sm:ml-64">
  <div
    class="p-4 border-0 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14"
  >
    <div class="container mx-auto">
      <form>
        <div
          class="sm:mb-8 sm:mt-2 mb-8 mt-2 flex justify-between items-center space-x-10"
        >
          <div class="text-blue-900 dark:text-blue-100">
            <h3 class="sm:text-3xl text-2xl text-left font-bold">
              Ambientes Criados
            </h3>
          </div>

          <!--FILTRO-->
          <a
            class="flex items-center cursor-pointer filtro p-2"
            (click)="mostrarFiltros()"
          >
            <label
              class="mx-2 font-medium text-blue-900 dark:text-blue-100 cursor-pointer"
              >Filtro</label
            >
            <i>
              <svg
                class="w-6 h-6 text-gray-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-width="2"
                  d="M18.796 4H5.204a1 1 0 0 0-.753 1.659l5.302 6.058a1 1 0 0 1 .247.659v4.874a.5.5 0 0 0 .2.4l3 2.25a.5.5 0 0 0 .8-.4v-7.124a1 1 0 0 1 .247-.659l5.302-6.059c.566-.646.106-1.658-.753-1.658Z"
                />
              </svg>
            </i>
          </a>
        </div>

        <div class="justify-between" *ngIf="this.mostrar">
          <div class="flex flex-wrap justify-between flex-col lg:flex-row">
            <!--AMBIENTE-->
            <div class="mb-5">
              <label
                for="ambiente"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Ambiente:
              </label>
              <input
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block 2xl:w-96 lg:w-72 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                name="descricao"
                [(ngModel)]="seletor.descricao"
              />
            </div>

            <!--SETOR-->
            <div class="mb-5">
              <label
                for="setor"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Setor:
              </label>
              <input
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block 2xl:w-96 lg:w-72 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                name="descricao"
                [(ngModel)]="seletor.setor"
              />
            </div>

            <!--ATIVIDADE-->
            <div class="mb-5">
              <label
                for="atividade"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Atividade:
              </label>
              <input
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block 2xl:w-96 lg:w-72 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                name="descricao"
                [(ngModel)]="seletor.atividades"
              />
            </div>

            <!--BOTÃO FILTRAR-->
            <div class="mb-5 mt-7">
              <button
                id="btn-filtrar"
                class="btn font-semibold shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block 2xl:w-48 lg:w-72 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                style="
                  background: linear-gradient(180deg, #4ac9ff 0%, #06b5ec 100%);
                  color: #00314d;
                  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
                "
                (click)="filtrarOcorrencia(); mostrarFiltros()"
                type="submit"
              >
                Filtrar
              </button>
            </div>
          </div>
        </div>

        <!--TABELA-->
        <div class="mb-5 justify-center">
          <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table
              class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
            >
              <thead
                class="text-xs text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
              >
                <tr>
                  <th scope="col" class="px-8 py-3">
                    <div class="flex items-center">
                      AMBIENTE
                      <a href="#"
                        ><svg
                          class="w-3 h-3 ms-1.5"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                        >
                          <path
                            d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"
                          /></svg
                      ></a>
                    </div>
                  </th>

                  <th scope="col" class="px-8 py-3">
                    <div class="flex items-center">
                      SETOR
                      <a href="#"
                        ><svg
                          class="w-3 h-3 ms-1.5"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                        >
                          <path
                            d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"
                          /></svg
                      ></a>
                    </div>
                  </th>

                  <th scope="col" class="px-8 py-3">
                    <div class="flex items-center">
                      ATIVIDADES
                      <a href="#"
                        ><svg
                          class="w-3 h-3 ms-1.5"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                        >
                          <path
                            d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"
                          /></svg
                      ></a>
                    </div>
                  </th>

                  <th scope="col" class="px-8 py-3">
                    <div class="flex items-center">EDIÇÃO</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let ambiente of ambientes"
                  class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
                >
                  <td class="px-8 py-4">{{ ambiente.descricao }}</td>
                  <td class="px-8 py-4">
                    {{ ambiente.setor }}
                  </td>
                  <td class="px-8 py-4">{{ ambiente.atividades }}</td>

                  <td class="px-8 py-4 text-right">
                    <a
                      href="#"
                      (click)="editar(ambiente.id)"
                      class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                      >Editar</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--PAGINAÇÃO-->
        <!-- <div class="flex mb-4 justify-center">
        <nav aria-label="Navegação">
          <ul class="flex">
            <li class="mx-1">
              <a
                class="flex items-center justify-center w-8 h-8 bg-blue-200 rounded-full text-blue-800"
                aria-label="Anterior"
              >
                <span aria-hidden="true">&#9666;</span>
              </a>
            </li>
            <li class="mx-1">
              <a
                class="flex items-center justify-center w-8 h-8 bg-blue-300 rounded-full text-blue-800"
              >
                1
              </a>
            </li>
            <li class="mx-1">
              <a
                class="flex items-center justify-center w-8 h-8 bg-blue-200 rounded-full text-blue-800"
              >
                2
              </a>
            </li>
            <li class="mx-1">
              <a
                class="flex items-center justify-center w-8 h-8 bg-blue-300 rounded-full text-blue-800"
              >
                3
              </a>
            </li>
            <li class="mx-1">
              <a
                class="flex items-center justify-center w-8 h-8 bg-blue-200 rounded-full text-blue-800"
                aria-label="Próximo"
              >
                <span aria-hidden="true">&#9656;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div> -->
      </form>
    </div>
  </div>
</div>
